.top-nav {
  min-height: 4.25rem !important;

  .top-nav-menu {
    background-color: #19b5fe !important;
    padding: 0 10rem;

    .header.item {
      border: none !important;
    }
  }

  @media screen and (max-width: 768px) {
    .top-nav-menu {
      padding: 0;
    }
  }

  .ui.container .item {
    color: white !important;
    font-weight: bold;
    margin-top: 1rem;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.top-nav-menu.ui.menu .item:before {
  content: none !important;
}