<div class="bottom-nav">
  <div class="ui one column stackable grid">
    <div class="column">
      <div class="bottom-nav-items ui stackable menu">

        <%= link_to 'Option 1', '#', class: 'item' %>
        <%= link_to 'Option 2', '#', class: 'item' %>
        <%= link_to 'Option 3', '#', class: 'item' %>
        <%= link_to 'Option 4', '#', class: 'item' %>

      </div>
    </div>
  </div>
</div>