<div class="ui four column stackable segment grid">

  <div class="center aligned column">
    <div class="ui statistic">
      <div class="value">
        22
      </div>
      <div class="label">
        Saves
      </div>
    </div>
  </div>

  <div class="center aligned column">
    <div class="ui statistic">
      <div class="text value">
        Three<br>
        Thousand
      </div>
      <div class="label">
        Signups
      </div>
    </div>
  </div>

  <div class="center aligned column">
    <div class="ui statistic">
      <div class="value">
        <i class="plane icon"></i> 5
      </div>
      <div class="label">
        Flights
      </div>
    </div>
  </div>

  <div class="center aligned column">
    <div class="ui statistic">
      <div class="value">
        <img src="https://semantic-ui.com/images/avatar/small/joe.jpg" class="ui circular inline image">
        42
      </div>
      <div class="label">
        Team Members
      </div>
    </div>
  </div>

</div>
